/* main.scss */
@import "variables";
@import "mixins";
@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";

/*==========  Site-Wide  ==========*/

body {
  background-color: #FEFEFE;
}

.container {
  max-width: 1335px
}

h1,h2,h3,h4,h5,h6 {
  color: $gray-darker;
}

h1 {
  font-weight: 900;
}

p {
  color: $gray-light;
  font-weight: 300;
  font-size: 17px;
}

.p-smaller {
  font-size: 0.85em;
}

a, a h4 {
  color: $gray-darker;
  &:hover {
    text-decoration: none;
    color: $primary;
    @include trans(0.5s);
  }
}

img {
  max-width: 100%;
}

.bold {
  font-weight: bold;
  color: $gray-darker;
}

.mobile-show {
  display: block;
}
.mobile-hide {
  display: none;
}

.inline-element {
  display: inline;
}

/*==========  Header Section  ==========*/

section.header {
    background-color: #ffffff;
}
.header-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  height: 65px;
  overflow: hidden;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header-block.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  li {
    text-transform: uppercase;
    font-weight: 900;
    list-style: none;
    text-align: right;
    margin-left: 10px;
    font-size: 11px;
  }
  #about {
    display: none;
  }
}

.main-logo {
  background: url('../img/Reuters TV logo vertical.png') no-repeat center;
  background-size: cover;
  background-position-y: -1px;
  min-height: 92px;
}

/*=========  Above Fold Section  ========*/

.above-fold {
  margin-top: 35px;
  position: relative;
  .web-app-lg {
    float: right;
    z-index: -1
  }
}

.cta {
  @include button_shadow(227px, 71px);
  @include trans(0.5s);
  margin-top: 25px;
}

.arrow {
  color: #ffffff;
  background-color: $primary;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: inline-block;
  margin-right: 9px;
  i {
    margin-top: 9px;
  }
}
.button-text {
}

/*============  Default Section(s)  ==========*/
.default-section {
  text-align:  center;
  padding: 100px 0 60px;
  border-bottom: 1px solid #e5e5e5;
  .side-wrap {
    padding: 10px 15px;
  }
  .side-wrap h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .side-wrap h1:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 5px;
    top: -25px;
    background: $primary;
  }
  ul {
    font-weight: 300;
  }
}

/*==========  Press Release Section  =========*/
section.press-releases {
  .media-contact {
    margin: 50px 0 30px;
    a {
      color: $gray-light;
      &:hover, &:focus, &:active {
        color: $gray-light;
      }
    }
  }
  h6>a {
    color: $primary;
    display: block;
    margin: 25px 0 45px;
    font-size: 1.1em;
    font-weight: 200;
  }
}

/*==========  News Links Section  =========*/

section.in-the-news {
  .links-container {
    display: flex;
    flex-direction: column;
    .press-link-container {
      h4 {
        font-size: 1.5rem;
      }
      .img-container {
        width: 80px;
        height: 80px;
        border: 1px solid $gray-lighter;
        background-color: #000000;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

/*========  Media Resources Section  =======*/

section.media-resources {
  .links-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
      h4 {
        font-size: 1.5rem;
      }
      .img-container {
        width: 80px;
        height: 80px;
        border: 1px solid $gray-lighter;
        background-color: #ffffff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
      .text-container {
        ul {
          list-style-type: square;
          color: $gray-light;
          margin: 0;
          padding-left: 15px;
          display: inline-block;
        }
        a {
          text-decoration: underline;
          color: $gray-light;
          &:hover {
            text-decoration: none;
          }
        }
      }
  }
}

/*==============  FAQS Section  ==============*/
section.faqs {
  .side-wrap h1 {
    margin-bottom: 15px;
  }
  h4, p, ul {
    font-size: 1.5rem;
  }
  h4 {
    margin-top: 30px;
  }
  ul {
    list-style: square inside;
    color: $gray-light;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 0;
    display: inline-block;
  }
  a {
    text-decoration: underline;
    color: $gray-light;
    &:hover {
      text-decoration: none;
    }
  }
}

/*=================  Footer  ================*/
section.footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-menu, .social-links {
  list-style-type: none;
  li {
    display: inline;
    a {
      color: $gray-light;
      font-weight: 300;
    }
  }
}

.footer-menu {
  padding-left: 20px;
  li {
    text-decoration: underline;
  }
}

.social-links {
  padding-left: 0;
}

/*==========  Mobile First Method  ==========*/

 /* Custom, iPhone Retina */
 @media only screen and (min-width : 320px) {

 }

 /* Extra Small Devices, Phones */
 @media only screen and (min-width : 480px) {


      .main-logo {
        background: url('../img/Reuters TV logo horizontal.png') no-repeat left center;
        background-size: contain;
        min-height: 0;
      }

 }

 /* Small Devices, Tablets */
 @media only screen and (min-width : 768px) {

   .header-row {
     height: 135px;
   }

   .header-block.nav ul {
     li {
       margin-left: 20px;
       font-size: 15px;
     }
   }

   .above-fold {
     .web-app-lg {
        margin-top: 150px;
     }
   }

  .default-section {
    text-align: left;
    .side-wrap h1:before {
      left: 0;
      margin-left: 0;
      width: 40px;
      height: 5px;
      top: -25px;
      background: $primary;
      text-align:  left;
      h1 {
        margin-top: 0;
      }
      .side-wrap h1:before {
        left: 0;
        margin-left: 0;
      }
    }
  }

  #about {
    display: block !important;
  }
  .mobile-show {
    display: none;
  }
  .mobile-hide {
    display: block;
  }
 .logo {
   background-size: contain !important;
   background-position: calc(100% - 0px) calc(100% - 0px) !important;
   min-height: 110px !important;
 }
 .header-block.nav {
   ul {
     li {
       line-height: 110px !important;
     }
   }
 }
 .cta-text {
   position: absolute;
 }
 hr {
   margin: 60px 25px;
 }

   section.in-the-news {
     text-align: left;
    .links-container {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0;
      .press-link-container {
        width: 100%;
        margin-bottom: 75px;
      }
      .img-container {
        margin-left: 0;
        vertical-align: top;
        width: 50px;
        height: 50px;
        display: inline-block;
      }
      .text-container {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
      }
    }
  }

  section.media-resources {
    .links-container {
      display: inline-flex;
      flex-direction: row;
      margin-left: -3px;
      width: 33.33%;
      vertical-align: top;
      margin-bottom: 60px;
      .img-container {
        margin: 0;
        width: 50px;
        height: 50px;
        position: absolute;
      }
      .text-container {
        margin: 0;
        padding: 0 15px;
        margin-left: 50px;
        h4 {
          font-size: 1.2rem;
          margin: 0;
          margin-bottom: 15px;
        }
      }
    }
  }
 }

 /* Medium Devices, Desktops */
 @media only screen and (min-width : 992px) {

   .above-fold {
     .web-app-lg {
        margin-top: 0;
     }
   }

  .default-section {

   }

   section.in-the-news {
     .links-container {
       .press-link-container {
        width: 50%;
         .img-container {
         width: 80px;
         height: 80px;
         }
         .text-container {
            h4 {
              margin-top: 0;
            }
         }
       }
     }
   }
   section.media-resources {
     .links-container {
       .img-container {
         width: 60px;
         height: 60px;
       }
       .text-container {
         margin-left: 60px;
       }
     }
   }
 }


 /* Large Devices, Wide Screens */
 @media only screen and (min-width : 1200px) {
   //overrides
   .container {
     width: 90%;
   }
   .default-section {
     .side-wrap h1:before {
       left: -40px;
       width: 5px;
       height: 90%;
       top: 5%;
       }
    }
    section.media-resources {
      .links-container {
        .img-container {
          width: 80px;
          height: 80px;
        }
        .text-container {
          margin-left: 80px;
        }
      }
    }
 }
