/* main.scss */
@import "variables";
@import "mixins";
@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";

/*==========  Site-Wide  ==========*/

body {
  background-color: #FEFEFE;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

.container {
  max-width: 1335px
}

h1,h2,h3,h4,h5,h6 {
  color: $gray-darker;
  font-weight: 700;
}

h1 {
  font-weight: 900;
}

p {
  color: $gray-light;
  font-weight: 300;
  font-size: 14px;
}

.p-smaller {
  font-size: 0.85em;
}

a, a h4 {
  color: $gray-darker;
  &:hover {
    text-decoration: none;
    color: $primary;
    @include trans(0.5s);
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.bold {
  font-weight: bold;
  color: $gray-darker;
}

.mobile-show {
  display: block;
}
.mobile-hide {
  display: none;
}

.inline-element {
  display: inline;
}

/*==========  Header Section  ==========*/

section.header {
    background-color: #ffffff;
}
.header-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  height: 65px;
  overflow: hidden;
}
.nav {
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header-block.nav ul {
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  li {
    text-transform: uppercase;
    font-weight: 900;
    list-style: none;
    text-align: right;
    margin-left: 10px;
    font-size: 11px;
  }
  li.current_tab {
    color: $primary;
  }
  #about {
    display: none;
  }
}

.main-logo {
  background: url('../img/Reuters TV logo vertical.png') no-repeat center;
  background-size: cover;
  background-position-y: -1px;
  min-height: 92px;
}

/*=========  Above Fold Section  ========*/

.above-fold {
  margin-top: 35px;
  position: relative;
  .web-app-lg {
    float: right;
    z-index: -1
  }
}

.cta {
  @include button_shadow(190px, 54px);
  @include trans(0.5s);
  margin-top: 25px;
}

.arrow {
  color: #ffffff;
  background-color: $primary;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  display: inline-block;
  margin-right: 9px;
  i {
    margin-top: 4px;
  }
}
.button-text {
}

/*============  Default Section(s)  ==========*/
.default-section {
  text-align:  center;
  padding: 100px 0 60px;
  border-bottom: 1px solid #e5e5e5;
  .side-wrap {
    padding: 10px 15px;
  }
  .side-wrap h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 60px;
  }
  .side-wrap h1:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 5px;
    top: -25px;
    background: $primary;
  }
  ul {
    font-weight: 300;
  }
}

/*==========  Press Release Section  =========*/
section.press-releases {
  .media-contact {
    margin: 50px 0 30px;
    a {
      color: $gray-light;
      &:hover, &:focus, &:active {
        color: $gray-light;
      }
    }
  }
  h6>a {
    color: $primary;
    @include underline;
    display: block;
    margin: 25px 0 45px;
    font-size: 1em;
    font-weight: 200;
  }
}

/*==========  News Links Section  =========*/

section.in-the-news {
  .links-container {
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    flex-direction: column;
    .press-link-container {
      white-space: nowrap;
      h4 {
        font-size: 1.5rem;
      }
      .img-container {
        width: 80px;
        height: 80px;
        border: 1px solid $gray-lighter;
        background-color: #000000;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      .img-container.light {
        background-color: #ffffff;
      }
    }
  }
  a#seeMore {
    @include underline;
    font-size: 1em;
    color: $primary;
  }
}

/*========  Media Resources Section  =======*/

section.media-resources {
  .links-container {
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    flex-direction: column;
    margin-bottom: 15px;
      h4 {
        font-size: 1.5rem;
      }
      .img-container {
        width: 80px;
        height: 80px;
        border: 1px solid $gray-lighter;
        background-color: #ffffff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        img {
          /*ie-11 not honouring the max-width set globally*/
          width: 100%;
        }
      }
      .text-container {
        ul {
          list-style-type: square;
          color: $gray-light;
          margin: 0;
          padding-left: 15px;
          display: inline-block;
        }
        a {
          @include underline-inverse();
          color: $gray-light;
        }
      }
  }
}

/*==============  FAQS Section  ==============*/
section.faqs {
  .side-wrap h1 {
    margin-bottom: 15px;
  }
  h4, p, ul {
    font-size: 1.5rem;
  }
  h4 {
    margin-top: 30px;
  }
  ul {
    list-style: square inside;
    color: $gray-light;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 0;
    display: inline-block;
  }
  a {
    @include underline-inverse();
    color: $gray-light;
  }
}

/*=================  Footer  ================*/
section.footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  .p-smaller {
    color: darken( $gray-lighter, 15% );
  }
}

.footer-menu, .social-links {
  list-style-type: none;
  li {
    display: inline;
    a {
      color: darken( $gray-lighter, 15% );
      font-weight: 300;
    }
  }
}

.footer-menu {
  padding-left: 20px;
  li a {
    @include underline-inverse();
    padding: 0 5px;
  }
}

.social-links-container {
  padding: 45px 0 20px;
}

.social-links {
  padding: 0;
  i {
    font-size: 1.7em;
    margin-top: 8px;
  }
}

.social-icon-container {
  background-color: darken( $gray-lighter, 15% );
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0 5px;
  &:hover {
    transition: background-color 0.5s ease;
    background-color: $primary;
  }
}

.social-link > a > i {
  color: #FEFEFE;
}

/*==========  Mobile First Method  ==========*/

 /* Custom, iPhone Retina */
 @media only screen and (min-width : 320px) {

 }

 /* Extra Small Devices, Phones */
 @media only screen and (min-width : 480px) {


      .main-logo {
        background: url('../img/Reuters TV logo horizontal.png') no-repeat left center;
        background-size: contain;
        min-height: 0;
      }

 }

 /* Small Devices, Tablets */
 @media only screen and (min-width : 768px) {

   p {
     font-size: 17px;
   }

   .header-row {
     height: 150px;
   }

   .above-fold {
     .web-app-lg {
        margin-top: 123px;
     }
   }

   .header-block.nav ul {
     li {
       font-size: 13px;
     }
   }

   .default-section {
     text-align: left;
     .side-wrap h1:before {
       left: 0;
       margin-left: 0;
       width: 40px;
       height: 5px;
       top: -25px;
       background: $primary;
       text-align:  left;
       h1 {
         margin-top: 0;
       }
       .side-wrap h1:before {
         left: 0;
         margin-left: 0;
       }
     }
   }

  #about {
    display: block !important;
  }
  .mobile-show {
    display: none;
  }
  .mobile-hide {
    display: block;
  }
 .logo {
   background-size: contain !important;
   background-position: calc(100% - 0px) calc(100% - 0px) !important;
   min-height: 110px !important;
 }
 .header-block.nav {
   ul {
     li {
       line-height: 110px !important;
     }
   }
 }
 .cta {
   @include button_shadow(227px, 71px);
 }
 .arrow {
   height: 35px;
   width: 35px;
   i {
     margin-top: 9px;
   }
 }
 .cta-text {
   position: absolute;
 }
 hr {
   margin: 60px 25px;
 }

   section.in-the-news {
     text-align: left;
    .links-container {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0;
      padding-right: 20px;
      .press-link-container {
        width: 100%;
        margin-bottom: 75px;
      }
      .img-container {
        margin-left: 0;
        vertical-align: top;
        width: 50px;
        height: 50px;
        max-width: 25%;
        display: inline-block;
      }
      .text-container {
        display: inline-block;
        vertical-align: top;
        margin-left: 10%;
        white-space: normal;
        max-width: 60%;
      }
    }
  }

  section.media-resources {
    .links-container {
      display: inline-flex;
      flex-direction: row;
      margin-left: -3px;
      width: 33.33%;
      vertical-align: top;
      margin-bottom: 60px;
      .img-container {
        margin: 0;
        width: 50px;
        height: 50px;
        position: absolute;
      }
      .text-container {
        margin: 0;
        padding: 0 15px;
        margin-left: 50px;
        h4 {
          font-size: 1.2rem;
          margin: 0;
          margin-bottom: 15px;
        }
      }
    }
  }
 }

 /* Medium Devices, Desktops */
 @media only screen and (min-width : 992px) {

   .header-block.nav ul {
     li {
       margin-left: 20px;
       font-size: 15px;
     }
   }

   .above-fold {
     .web-app-lg {
        margin-top: 0;
     }
   }

  .default-section {

   }

   section.in-the-news {
     .links-container {
       .press-link-container {
        width: 50%;
         .img-container {
         width: 50px;
         height: 50px;
         }
         .text-container {
            h4 {
              margin-top: 0;
            }
         }
       }
     }
   }
   section.media-resources {
     .links-container {
       .img-container {
         width: 60px;
         height: 60px;
       }
       .text-container {
         margin-left: 60px;
       }
     }
   }
 }


 /* Large Devices, Wide Screens */
 @media only screen and (min-width : 1200px) {
   //overrides
   .container {
     width: 90%;
   }
   .cta-text {
     padding-top: 75px;
   }
   .default-section {
     .side-wrap h1:before {
       left: -40px;
       width: 5px;
       height: 90%;
       top: 5%;
       }
    }
    section.in-the-news {
      .links-container {
        .press-link-container {
          .img-container {
            height: 80px;
            width: 80px;
          }
        }
      }
    }
    section.media-resources {
      .links-container {
        .img-container {
          width: 80px;
          height: 80px;
        }
        .text-container {
          margin-left: 80px;
        }
      }
    }
 }

 /* Max width media queries: */

 @media(max-width:767px){
   h1 {
     font-size: 30px;
   }
 }

 /*Older browsers and OS*/
 .no-flexbox, .lt-ie9 {
   .header-row {
     float: left;
     width: 100%;
   }
   .main-logo {
     margin-top: 30px;
   }
   .header-block.nav, .nav, .main-logo {
     float: left;
     min-height: 65px !important;
     ul {
       float: right;
       li {
         float: left;
       }
     }
   }
   .cta {
     border: 1px solid $gray-lighter;
   }
   section.in-the-news {
     .links-container {
       .press-link-container {
         float: left;
         .img-container {
           white-space: nowrap;
           text-align: center;
           .helper {
              display: inline-block;
              height: 100%;
              vertical-align: middle;
            }
           img {
             vertical-align: middle;
              max-height: 78px;
              max-width: 78px;
              margin-left: -4px;
           }
         }
       }
     }
   }
   section.media-resources {
     .links-container {
       display: inline-block;
       vertical-align: top;
       .img-container {
         white-space: nowrap;
         text-align: center;
         .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }
         img {
           vertical-align: middle;
           max-height: 78px;
           max-width: 78px;
           width: 100% !important;
           margin-left: -4px;
         }
       }
     }
   }
 }
 .social-links {
   padding: 0;
   .social-icon-container {
     position: relative;
   }
   i {
     font-size: 1.7em;
     margin-top: 8px;
     left: 50%;
     margin-left: -11px;
     position: absolute;
     color: #FEFEFE !important;
   }
 }
 .lt-ie9 {

 }
 .lt-ie8 {

 }
 .lt-ie7 {

 }
